//process.container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
process {
    withName:SetupRiboDB {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:SetUpEukccDB {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:SetupTaxonomy {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:GetURL {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:GbGetURL {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:GenomeDownloader {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:GbGenomeDownloader {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:CheckRefSeq {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:ReduceGCA {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:CheckGenBank {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:CheckM {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:EukCC {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/eukcc_v2.1.2.sif'
    }
    withName:Barrnap {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:FilterBarrnap {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:rRNAFortyTwo {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:SeqSelector {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:GetUncontaminated {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:DerepRefGenomes {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:ProteomeDownloader {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:RiboDBFortytwo {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:Mafft {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:Scafos {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:CdHit {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:RaxmlReferenceTree {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withName:RaxmlConstrainTree {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
    withNale:ChangeIdsAli {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER.sif'
    }
}

singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B /scratch/ulg/PHYLEUC/vlupo/ -B /scratch/users/v/l/vlupo/ -B /tmpscratch/'
process.scratch = '/tmpscratch/'
