process {
    withName:RiboDBSetUp {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:EUKCCDBSetUp {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:Taxonomy {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:RefSeq {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:GenBank {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:GetRefGenomesRefseq {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:GetRefGenomesGenbank {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:RefGenomesCheckM {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:RefGenomesEukCC {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/eukcc_v2.1.2.sif'
    }
    withName:RefGenomesBarnapp {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:RefGenomesFilter {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:RefGenomesDereplication {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:GetRefRelProteomes {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:GetOutGenomesRefSeq {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:GetOutGenomesGenbank {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:OutGenomesCheckM {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:OutGenomesEukCC {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/eukcc_v2.1.2.sif'
    }
    withName:OutGenomesBarnap {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:OutGenomesFilter {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:GetOutRelProteomes {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:RiboDBFortytwo {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:AlignmentMUSCLE {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:ConcatScafos {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:ReferenceTreeRaxml {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:SSUDereplication {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:ConstrainTreeRaxml {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
    withName:PublicationResults {
        container = '/CECI/home/ulg/PHYLEUC/vlupo/ORPER/ORPER_dev.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B /scratch/ulg/PHYLEUC/vlupo/ -B /scratch/users/v/l/vlupo/ -B /tmpscratch/'
process.scratch = '/tmpscratch/'
